extends layout.jade

block content 
  .app-container
    .scene-background
    .thumbnails-feed
      .thumbnails-nav
      .thumbnails-set
        each thumbnail in locals.thumbnails
          img.thumbnail(src="img/00-0" + thumbnail + ".png")
      .thumbnails-nav.thumbnails-nav--right
    .content
