/** Colors **/
@baseColor: #000000;
@base50: fade(@baseColor, 50%);

@background-fill: #4e4f51;

/** Thumbnails line */
@thm-height: 20vh;
@thm-shift: 4vh;
@thm-padding: 12px;
@thm-fill: rgba(red(@base50), green(@base50), blue(@base50), 0.5);

/** Thumbnail navigation buttons */
@thm-nav-width: 100px;
@thm-nav-min-width: 64px;

/** Thumbnail */
@tum-radius: 10px;
@tum-shadow-blur: 10px;
@tum-width: 300px;
@tum-h-margins: 15px;
