@import 'variables.less';

// Thumbnail
@tum-radius: 10px;
@tum-shadow-blur: 10px;
@tum-width: 300px;
@tum-h-margins: 15px;

@adj-scale: 1.1, 1.1, 1;
@adj-value: 11px;

.thumbnail {
  cursor: pointer;
  margin: 0 @tum-h-margins;
  height: 11vh;
  box-shadow: 0 0 @tum-shadow-blur rgba(0, 0, 0, 0.5);
  border-radius: @tum-radius;
  will-change: transform;
  transform: none;
  transition: transform 0.5s ease-in;
}

.thumbnail--active {
  box-shadow: 0 0 @tum-shadow-blur * 2 rgba(255, 255, 255, 0.75);
  transform: scale3d(1.3, 1.3, 1);
  transition: transform 0.25s ease-in;
}

.thumbnail--active-adjacend-left {
  transform: scale3d(@adj-scale) translate3d(-@adj-value, 0, 0);
}

.thumbnail--active-adjacend-right {
  transform: scale3d(@adj-scale) translate3d(@adj-value, 0, 0);
}
