@import 'variables.less';

.thumbnail {
  cursor: pointer;
  margin: 0 @tum-h-margins;
  height: 11vh;
  box-shadow: 0 0 @tum-shadow-blur rgba(0, 0, 0, 0.5);
  border-radius: @tum-radius;
  transition: height 0.5s;
}

.thumbnail--active {
  box-shadow: 0 0 @tum-shadow-blur * 2 rgba(255, 255, 255, 0.75);
  height: 13vh;
  transition: height 0.25s;
}

.thumbnail--active-adjacend {
  height: 12vh;
}
