@import 'variables.less';

.thumbnails-feed {
  display: flex;
  justify-content: space-between;
  padding: @thm-padding 0 @thm-padding @thm-padding;
  position: relative;
  height: @thm-height;
  bottom: @thm-height + @thm-shift;
  background-color: @thm-fill;
  z-index: 1000;
}

.thumbnails-set {
  display: flex;
  overflow: hidden;
  .wrap {
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
  }
}

.nav-wrap {
  width: @thm-nav-width;
  min-width: @thm-nav-min-width;
  height: @thm-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1500;
}

.thumbnails-nav {
  cursor: pointer;
  background: url(../img/arrow.png) center no-repeat;
  height: @thm-height * 0.4;
}

.thumbnails-nav--right {
  transform: rotate(180deg);
}

