@import 'variables.less';

@animAmount: 100%;
@animLength: 400ms;
@contentDim: 100 - @thm-height;

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: @contentDim;
  top: 0;
  left: 0;

  .slide {
    box-shadow: 0 0 2vw #000;
    height: @contentDim - 10;
    z-index: @zContent;
  }
}

.content-right-enter {
  transform: translate3d(-@animAmount, 0, 0);

  &.content-right-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform @animLength ease-in;
  }
}

.content-right-leave {
  transform: translate3d(0, 0, 0);

  &.content-right-leave-active {
    transform: translate3d(@animAmount, 0, 0);
    transition: transform @animLength ease-in;
  }
}

.content-left-enter {
  transform: translate3d(@animAmount, 0, 0);

  &.content-left-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform @animLength ease-in;
  }
}

.content-left-leave {
  transform: translate3d(0, 0, 0);

  &.content-left-leave-active {
    transform: translate3d(-@animAmount, 0, 0);
    transition: transform @animLength ease-in;
  }
}
