@import 'variables.less';

@animAmount: 1500px;
@animLength: 400ms;

.content {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 75vh;
  top: 0;
  left: 0;

  .slide {
    margin: auto;
    box-shadow: 0 0 50px #000;
    height: 70vh;
    z-index: 500;
  }
}

.content-right-enter {
  left:  -@animAmount;

  &.content-right-enter-active {
    left: 0;
    transition: left @animLength ease-in;
  }
}

.content-right-leave {
  left: 0;

  &.content-right-leave-active {
    left: @animAmount;
    transition: left @animLength ease-in;
  }
}

.content-left-enter {
  left: @animAmount;

  &.content-left-enter-active {
    left: 0;
    transition: left @animLength ease-in;
  }
}

.content-left-leave {
  left: 0;

  &.content-left-leave-active {
    left: -@animAmount;
    transition: left @animLength ease-in;
  }
}
